.cartList {
  display: flex;
  flex-direction: column;
  gap: 10px;

  button {
    margin-left: auto;
    margin-right: auto;
  }

  .totalPayment {
    margin-bottom: 20px;
    text-align: center;
  }
}
