.svg {
  &.main {
    fill: var(--white);
  }

  &.black {
    fill: var(--bg-black);
  }

  &.accent {
    fill: var(--accent-color);
  }

  &.red {
    fill: var(--error-color);
  }

  &.green {
    fill: var(--success-color);
  }
}
