.wrapper {
  height: 276px;
  width: 100%;
  border-radius: 16px;
  overflow: hidden;
  border: 1px solid var(--secondary-text-color);

  div {
    border-radius: 15px;
  }

  @include desktop {
    width: 628px;
  }

  .list {
    margin-bottom: 8px;
  }

  .link {
    color: #1a73e8;

    &:hover {
      text-decoration: underline;
    }
  }
}
