.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .main {
    flex: auto;

    @include mobile {
      padding-top: 128px;
    }

    @include tablet {
      padding-top: 128px;
    }

    @include desktop {
      padding-top: 184px;
    }
  }
}
