.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .main {
    flex: auto;
    background-image: url("/bg.png");
    background-repeat: repeat;

    @include mobile {
      padding-top: 51px;
    }

    @include tablet {
      padding-top: 179px;
    }

    @include desktop {
      padding-top: 184px;
    }
  }
}
