.nav {
  display: flex;
  flex-direction: column;
  background: var(--background-gradient);
  gap: 14px;
  flex-wrap: nowrap;
  height: auto;

  @include mobile {
    padding-left: 16px;
    padding-right: 16px;
    justify-content: flex-start;
    overflow-x: scroll;

    svg {
      transform: scale(0.8);
    }
  }

  .logoWrapper {
    margin-top: auto;
  }

  .link {
    color: var(--main-color);
    font-size: 20px;
    transition: var(--transition);
    display: flex;
    align-items: center;

    @include mobile {
      padding: 12px 0;
    }

    @include before-desktop {
      font-size: 20px;
    }

    &:hover {
      color: var(--main-hover-color);
    }
  }
  .active {
    color: var(--main-hover-color);
  }

  .hideOnMobile {
    @include mobile {
      display: none;
    }
  }
}
