.layout {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  text-align: center;

  .authWrapper {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 0 auto;
  }

  .heading {
    font-size: 24px;

    @include mobile {
      font-size: 16px;
    }
  }

  .toggleBtn {
    background-color: transparent;
    border: none;
    text-decoration-line: underline;
    cursor: pointer;
  }

  .backBtn {
    background-color: transparent;
    margin-right: auto;
    border: none;
    text-decoration-line: underline;
    cursor: pointer;
  }
}
