:root {
  --bg-green: #ebf4d5;
  --bg-light: #fdfdfc;
  --bg-black: #292930;
  --bg-dark: #3f3f48;

  --white: #ffffff;
  --grey: #c4bdbd;
  --pressed: #6e8734;
  --accent-color: #96b649;
  --error-color: #e42525;

  --hover-green: #c3de85;

  --modal-background-color: rgba(152, 152, 152, 0.7);

  --box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  --transition: all 250ms linear;

  --pop-animation: animate-pop 0.5s cubic-bezier(0.26, 0.53, 0.74, 1.48);
}

@keyframes animate-pop {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }

  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}
